[buildout]
parts = python django
develop = .
eggs = events

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[django]
recipe = djangorecipe
version = 1.2.5
project = events
projectegg = events
settings = settings_test
test = events
eggs = ${buildout:eggs}
